<div class="container">
	<div class="github-profile">
		<h2 class="text-center">All Polls</h2>

		<% polls.forEach(({user, _id, title, options}) => { %>
			<div class="container">
				<% const url = "/" + user.displayName + "/" + _id %>
				<a href="<%= url %>" class="float-left"><%= title %></a>
			</div>
		<% }) %>
				
		<div class="">

		</div>
	</div>
</div>
